In [39]:
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader, TensorDataset
import numpy as np
import pandas as pd
import re
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import matplotlib.pyplot as plt

In [42]:
#nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\stanl\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [25]:
datapath = "goemotions_formatted.csv"

In [26]:
device = torch.device('cuda' if torch.cuda.is_available()
                      else 'cpu')
device

device(type='cuda')

In [27]:
torch.cuda.get_device_name(0)

'NVIDIA GeForce RTX 3060 Ti'

In [28]:
# Look at dataset
df = pd.read_csv(datapath)
df.head()

,Unnamed: 0,Text,ID,anger,fear,joy,sadness,surprise
0,0,WHY THE FUCK IS BAYLESS ISOING,eezlygj,1,0,0,0,0
1,1,To make her feel threatened,ed7ypvh,0,1,0,0,0
2,2,Dirty Southern Wankers,ed0bdzj,1,0,0,0,0
3,3,OmG pEyToN iSn'T gOoD eNoUgH tO hElP uS iN tHe...,edvnz26,0,0,0,0,1
4,4,Yes I heard abt the f bombs! That has to be wh...,ee3b6wu,0,0,1,0,0

In [29]:
# Drop unwanted columns
dropCols = [0, 2]
df.drop(df.columns[dropCols],axis=1,inplace=True)
df

,Text,anger,fear,joy,sadness,surprise
0,WHY THE FUCK IS BAYLESS ISOING,1,0,0,0,0
1,To make her feel threatened,0,1,0,0,0
2,Dirty Southern Wankers,1,0,0,0,0
3,OmG pEyToN iSn'T gOoD eNoUgH tO hElP uS iN tHe...,0,0,0,0,1
4,Yes I heard abt the f bombs! That has to be wh...,0,0,1,0,0
...,...,...,...,...,...,...
28422,Added you mate well Iâ€™ve just got the bow and ...,0,0,1,0,0
28423,Always thought that was funny but is it a refe...,0,0,0,0,1
28424,What are you talking about? Anything bad that ...,1,0,0,0,0
28425,"More like a baptism, with sexy results!",0,0,1,0,0
28426,Enjoy the ride!,0,0,1,0,0

In [37]:
df['joy'].value_counts()

1    16748
0    11679
Name: joy, dtype: int64

In [53]:
train_df, test_df = train_test_split(df,test_size=0.3,random_state=101,shuffle=True)

In [54]:
# TODO:
# Show preprocessing of original dataset to formatted
# Analyze imbalance in classes and address it

In [55]:
# Tokenization
# How Tokenization works:
s = "This is a sentence in the dataset."
word_tokenize(s)

['This', 'is', 'a', 'sentence', 'in', 'the', 'dataset', '.']

In [56]:
train_df['Text'] = train_df['Text'].apply(word_tokenize)
train_df

,Text,anger,fear,joy,sadness,surprise
19290,"[Your, description, fits, the, type, of, SB, I...",0,0,1,0,0
14870,"[Thanks, man, I, appreciate, that, !, I, just,...",0,0,1,0,1
2647,"[What, will, you, gain, from, it]",0,0,0,0,1
14443,"[I, was, getting, arrested, and, my, dog, run,...",0,0,0,1,0
5915,"[I, 'm, really, proud, of, you, for, standing,...",0,0,1,0,0
...,...,...,...,...,...,...
5695,"[Are, ya, completely, sure, that, 's, not, fro...",0,0,1,0,0
8006,"[I, like, that, they, have, a, red, light, cam...",0,0,1,0,0
17745,"[THEY, ARE, SO, CUTE, TOGETHER, !, !]",0,0,1,0,0
17931,"[Oh, god, no, !, !, !, I, was, gon, na, get, s...",0,0,0,0,1
13151,"[[, NAME, ], ,, you, 're, back, !, And, still,...",1,0,0,1,0

In [ ]:
word2index = ["<PAD>", "<SOS>", "<EOS>"]